 .nav-bar{
    justify-content: center;
    display: flex;
 }
.nav-container{
    margin: auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 0px 0px rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
    border-radius: 35px;
    width: 75%;
    top: 20px;
    padding: 10px 30px;
    border:.5px solid #1d1d1d;
}
.nav-logo{
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    justify-items: center;
    align-items: center;
    padding: 15px 0;
}
.nav-links{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: right;
    flex:1;
    list-style: none;
}
    a{
        text-decoration: none;
        font-size: 1.2rem;
        transition: all 0.3s ease-in-out;
    }
