

    $globalFont:"Space Mono", monospace;
    $mainBGColor:#190938;
    $mainColor: #AAFF82;
    $border:1px solid $mainColor;
body{
    
    font-family: $globalFont;
    background:linear-gradient(to right , $mainBGColor 0%, #090118 100%);
}
h1, h2, h3, h4, h5, h6, a, p, span, div, li, button{
    color:$mainColor;
    

}